<div class="container">
	<button class="btn btn-primary" ng-click="goBack()">Go Back to Account Summary</button>
  <button type="button" ng-click="logout()" class="btn btn-dark" style="float:right"><b>Logout</b></button>
  
	<div style="margin-top:20px;"><b>Transaction Details:</b></div>

	<table class="table">

		<thead>
			<th>Amount</th>
			<th>From Account</th>
			<th>To Account</th>
			<th>Description</th>
			<th>Type</th>
		</thead>

		<tbody>
			<tr ng-repeat="data in transactionDetails track by $index">
				<td>{{data.amount}}</td>
				<td>{{data.fromaccount}}</td>
				<td>{{data.toaccount}}</td>
				<td>{{data.description}}</td>
				<td>{{data.type}}</td>
			</tr>
		</tbody>

	</table>

	<div class="container">
		<div class="row">
			<b>Make a New Transaction</b>
		</div>
		<div class="row">
			<form action="">
				<div class="form-group">
					<label for="amount">Amount</label>
					<input type="text" class="form-control" ng-model="newTransaction.amount">
				</div>
				<div class="form-group">
					<label for="username">From Account</label>
					<input type="text" class="form-control" ng-model="newTransaction.fromaccount">
				</div>
				<div class="form-group">
					<label for="username">To Account</label>
					<input type="text" class="form-control" ng-model="newTransaction.toaccount">
				</div>
				<div class="form-group">
					<label for="username">Description</label>
					<input type="text" class="form-control" ng-model="newTransaction.description">
				</div>
				<div class="form-group">
					<label for="username">Type</label>
					<input type="text" class="form-control" ng-model="newTransaction.type">
				</div>
				<button type="button" class="btn btn-primary" ng-click="setTransaction(newTransaction)">Make Transaction</button>
			</form>
		</div>
	</div>
</div>